

{% extends "base.html" %}
{% load static %}
{% block headblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
{% endblock %}

{% block fullscreen %}
<section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header " style="padding-top: 20px;"> 
      <h2>Confused ?</h2>
      <p>What is Your <span>Current </span>Mood ?</p>
    </div>
      <hr>
        <a class='link' href="{% url 'foody_1:happy' %}">Happy</a>

        <a class='link' href="{% url 'foody_1:angry' %}">Angry</a>

        <a class='link' href="{% url 'foody_1:dehydrate' %}">Dehydrated</a>

        <a class='link' href="{% url 'foody_1:depress' %}">Depressed</a>

        <a class='link' href="{% url 'foody_1:excite' %}">Excited</a>

        <a class='link' href="{% url 'foody_1:unwell' %}">Unwelly</a>

        <hr>
        <a class='link' href='#'>Most Search</a>

        <a class='link' href='#'>Most ordered at this time of the day</a>

        <a class='link' href='#'>Delivered instantly</a>

      </div>
  </div>
</section>

<style media="screen">
.link{
  text-align: center;
    display: block;
  font-size: 30px;
  font-family: 'Poor Story', cursive;
}
.link:hover{
  color: #ffbe33;
}
  
.under_tag{
  color:black;
  font-size: 25px;
  font-family: 'Poor Story', cursive;
}
.head_mansi{

  color:black;
  font-size: 100px;
  text-align: center;
  font-family: 'Poor Story', cursive;
}
</style>
{% endblock %}
