
{% extends "base.html" %}
{% load static %}
{% block headblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
{% endblock %}

{% block fullscreen %}
<section id="hero" class="hero d-flex  align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">

      <h2 class='head_mansi'>HAM</h2><hr/>
      
      {% for x in result %}
      <a class='link' href="{% url 'foody_1:result' %}">{{ x }}</a></li>
      
      {% endfor %}
    </div>
  </div>
</section>

<style media="screen">
.link{
  text-align: center;
    display: block;
  font-size: 30px;
  font-family: 'Poor Story', cursive;
}
.link:hover{
  color: #ffbe33;
}
.under_tag{
  color:black;
  font-size: 25px;
  font-family: 'Poor Story', cursive;
}
.head_mansi{

  color:black;
  font-size: 100px;
  text-align: center;
  font-family: 'Poor Story', cursive;
}
</style>
{% endblock %}
