{% extends 'base.html' %} {% block content %}

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>About Us</h2>
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div
          class="col-lg-7 position-relative about-img"
          style="background-image: url(/static/img/about.jpg)"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="call-us position-absolute">
            <h4>Book a Table</h4>
            <p>+91 95589 55488</p>
          </div>
        </div>
        <div
          class="col-lg-5 d-flex align-items-end"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              One means of doing that is to hold an event in which you invite the public
              to come and sample different items on your menu and offer giveaways.
            </p>
            <ul>
              <li>
                <i class="bi bi-check2-all"></i> Provide an Outstanding Patron Experience.
              </li>
              <li>
                <i class="bi bi-check2-all"></i> Establish Customer Loyalty.
              </li>
              <li>
                <i class="bi bi-check2-all"></i> Offer a Diverse Menu
              </li>
            </ul>
            <p>
              Branding is all about selling the “why” of your restaurant rather
              than the “what,” because patrons already know you offer food.
              The key is to identify what makes your place unique and worth a visit
              Then you must find ways to grab your audience’s attention. 
            </p>

            <div class="position-relative mt-4">
              <img src="/static/img/about-2.jpg" class="img-fluid" alt="" />
              <a
                href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                class="glightbox play-btn"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose Foody?</h3>
            <p>
              As time is limited in the Food Service Industry, 
              our main priority is to be a competent point of contact for our customers. 
              Our team understands the importance of bringing you quick and efficient 
              solutions to ease your everyday operations. We take special care in proposing
              only products that fit your needs and assist you in a timely manner.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn"
                >Learn More <i class="bx bx-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
                <i class="bi bi-clipboard-data"></i>
                <h4>New Updates</h4>
                <p>
                 new menu items will be added 
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
                <i class="bi bi-gem"></i>
                <h4>Our Milestones</h4>
                <p>
                  James Beard Awards.<br/>
                  Bib Gourmand Awards.<br/>
                  Zagat Awards.<br/>
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
                <i class="bi bi-inboxes"></i>
                <h4>Love In Inbox</h4>
                <p>
                  Kai,
                  Eliana,
                  Jayden,
                  Ezra,
                  Luca,
                  Rowan,
                  Nova,
                  Amara,
                  & many others 
                </p>
              </div>
            </div>
            <!-- End Icon Box -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="232"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Clients</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="521"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Projects</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="1453"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hours Of Support</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="32"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Workers</p>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- End Stats Counter Section -->
</main>
<!-- End #main -->
{% endblock %}
